body {
    background-color: black;
    font-family: 'Barlow', sans-serif;
}

h1 {
    color: rgb(73, 214, 191);
}

p {
    color: rgb(203, 255, 242);
}

.sumg {
    color: #aaff5b;
}

.restr {
    color: #ff5b5b;
}

.multb {
    color: #5bd9ff;
}

.divo {
    color: #ff9d5b;
}

.calc {
   display: flex;
   align-items: center;
   color: #fff;
   background: none;
   border: none;
   padding: 12px 18px;
   position: relative;
   font-family: 'Barlow', sans-serif;
}

.calc:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(calc(75%));
    width: 45px;
    height: 45px;
    background: #5bffb0;
    border-radius: 50px;
    transition: transform .25s .25s cubic-bezier(0, 0, .5, 2), width .25s cubic-bezier(0, 0, .5, 2);
    z-index: -1;
}

.calc:hover::before {
    width: 100%;
    transform: translateY(-50%) translateX(-18px);
    transition: transform .25s cubic-bezier(0, 0, .5, 2), width .25s .25s cubic-bezier(0, 0, .5, 2);
}

.calc i {
    margin-left: 5px;
    transition: transform .25s .4s cubic-bezier(0, 0, .5, 2);
}

.calc:hover i {
    transform: translateX(3px);
}

input {
    display: inline-block;
    color: white;
    background-color: black;
    text-decoration: none;
    border: 2px solid #3c67e3;
    border-radius: 5px;
}

input:hover {
    animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {
    0%{
        box-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2;
    }        
}